<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/fourOhFour.css">
</head>
<body>
    <div class='main'>
        <form action="/" class="button">
            <input type="submit" value="Go back home" />
        </form>
    </div>
</body>