<!DOCTYPE html>
<head>
    <title>Node: Workshop 1</title>
    <link rel="stylesheet" href="./css/homepage.css">
</head>
<body>
    <header>
        <h1>Node: Workshop 1</h1>
    </header>
    <div class='main'>
        <h2>Welcome home!</h2>
        <div class='links'>
            <form action="question1">
                <p><input type="submit" value="Question 1" /></p>
            </form>
            <form action="question2">
                <p><input type="submit" value="Question 2" /></p>
            </form>
            <form action="question3">
                <p><input type="submit" value="Question 3" /></p>
            </form>
            <form action="question4">
                <p><input type="submit" value="Question 4" /></p>
            </form>
            <form action="question5">
                <p><input type="submit" value="Question 5" /></p>
            </form>
            <form action="question6">
                <p><input type="submit" value="Question 6" /></p>
            </form>
            <form action="question7">
                <p><input type="submit" value="Question 7" /></p>
            </form>
            <form action="question8">
                <p><input type="submit" value="Question 8" /></p>
            </form>
            <form action="question9">
                <p><input type="submit" value="Question 9" /></p>
            </form>
            <form action="question10">
                <p><input type="submit" value="Question 10" /></p>
            </form>
            </div>
        </div>
    </div>
</body>